In [20]:
import pickle
import pandas as pd
import numpy  as np
import tensorflow as tf
from tensorflow.keras.models import Model, load_model

In [6]:
model=load_model('model.h5')
le=pickle.load(open('le_gender.pkl', 'rb'))
ohe=pickle.load(open('ohe_geog.pkl', 'rb'))
sc=pickle.load(open('scaled_data.pkl', 'rb'))

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [7]:
input_data={'CreditScore':600,
            'Geography':'France',
            'Gender':'Female',
            'Age':40,
            'Tenure':3,
            'Balance':0.0,
            'NumOfProducts':1,
            'HasCrCard':1,
            'IsActiveMember':0,
            'EstimatedSalary':50000.0}

In [8]:
input_df=pd.DataFrame(input_data, index=[0])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Female,40,3,0.0,1,1,0,50000.0

In [9]:
input_df['Gender']=le.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,0,40,3,0.0,1,1,0,50000.0

In [10]:
geo_encoder=ohe.transform(input_df[['Geography']]).toarray()
geo_encoder_df=pd.DataFrame(geo_encoder, columns=ohe.get_feature_names_out(['Geography']))
geo_encoder_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [11]:
# concatenating input_df and geo_encoder_df
final_df=pd.concat([input_df.drop('Geography', axis=1), geo_encoder_df], axis=1  )
final_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,0,40,3,0.0,1,1,0,50000.0,1.0,0.0,0.0

In [12]:
input_data_sc = sc.transform(final_df)
input_data_sc

array([[-0.54204762, -1.09823226,  0.10473081, -0.68894811, -1.22205481,
        -0.90335195,  0.64598061, -1.03016917, -0.88153859,  0.99828718,
        -0.57559072, -0.57779016]])

In [14]:
y_pred = model.predict(input_data_sc)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 23ms/step

In [15]:
y_pred

array([[0.3714995]], dtype=float32)

In [16]:
predic_prob = y_pred[0][0]
predic_prob

0.3714995

In [18]:
if predic_prob >= 0.5:
   print ("Customer will LEAVE the bank")
else:
   print ("Customer will STAY in the bank")

Customer will STAY in the bank